extends layout

head
link(rel='stylesheet', href='/stylesheets/style.css')
script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')

body
block content
	.center
	h1= title
	p
		|Thanks for your interest in our pilot program! <br />  <br />Please enter your information below and we'll contact you shortly for our pilot program.
	
		form(name="input", action="/users/adduser", method="post")
			input(type="text",name="name",value="Name")
			input(type="text",name="businessName",value="Business Name")
			input(type="email",name="email",value="E-mail")
			input(type="text",name="address",value="Local Address")
			input(type="submit",value="submit")

	p
		a(class="button" href="/") back