body {
  /*padding: 50px;*/
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

a {
  color: #00B7FF;
}

footer{
	/*position:fixed;*/
	width: 100%;
	bottom:0;
	color: #999;
	background-color: #ecf0f1;
	line-height: 58px;
    padding: 0 27px;
}

.fb-share-button {
	line-height: 58px;
	margin-top: 15%;
	vertical-align: middle;
	padding-right: 27px;
}